:root {
	--gutter-deca: calc(var(--gutter) * 1.25);
	--gutter: 1rem;
	--gutter-deci: calc(var(--gutter) * 0.8);

	--primary-color: hsl(220, 50%, 20%);
	--grey-light: hsl(0, 0%, 93%);;

	--shadow:
		0px 1px 2px 0px hsla(0, 0%, 0%, 0.2),
		0px 0px 2px 0px hsla(0, 0%, 0%, 0.1);

	--radius: 4px;
}

* {
	box-sizing: border-box;
}

body {
	padding: var(--gutter);

	background-color: var(--grey-light);
	font-size: x-large;
}

.flow-content > * + * {
	margin-top: var(--gutter-deca);
}

main {
	/* max-width: max-content; */

	margin-right: auto;
	margin-left: auto;
}

button, input {
	font-size: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
	
	padding: var(--gutter-deci) var(--gutter-deca);
	border: none;
	border-radius: var(--radius);

	background-color: var(--primary-color);
	
	color: var(--grey-light);
}

button:disabled {
	cursor: initial;
	opacity: 0.5;
}

input {
	display: block;

	width: 4ch;
	border: 0;
	border-bottom: 2px solid currentColor;

	background-color: transparent;
}

.grid-players {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: var(--gutter-deca);
}

.player-panel {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--gutter);

	padding: var(--gutter);
	border-radius: var(--radius);

	opacity: 0.5;

	box-shadow: var(--shadow);

	transition-property: opacity;
	transition-duration: 100ms;
}

.player-panel .actions-block {
	display: flex;
	justify-content: space-between;
	gap: var(--gutter-deci);
}

.player-panel .player-status {
	position: absolute;
	top: -8px;
	right: 20px;

	display: block;

	padding: var(--gutter-deci);
	border-radius: var(--radius);

	box-shadow: var(--shadow);

	font-size: smaller;
}

[aria-current="player"],
.winner {
	opacity: 1;
}

.player-status {
	color: var(--grey-light);
}

.winner {
	background-color: hsl(220, 20%, 80%);
}

.winner .player-status {
	background-color: hsl(220, 30%, 30%);
}

.busted {
	background-color: hsl(20, 20%, 80%);
}

.busted .player-status {
	background-color: hsl(10, 50%, 50%);
}

.stopped {
	background-color: hsl(60, 20%, 80%);
}

.stopped .player-status {
	background-color: hsl(60, 30%, 40%);
}

.played-count {
	display: block;
	
	max-width: max-content;
	padding: var(--gutter-deci) var(--gutter-deca);
	border-radius: var(--radius);

	background-color: hsl(100, 30%, 40%);
	color: var(--grey-light);
}